{% extends "base.html" %}

{% block article_one %}
    <div>
        <h2>Enter a county name</h2>
        <p>...and we'll retrieve a list of cities in that county.</p>
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="/view_two" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>

    </div><!--/span-->
{% endblock %}